<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <script src="scripts/vendor/jquery-1.6.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/vendor/jquery.timers-1.2.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/vendor/underscore.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/vendor/backbone.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/xbmc.popup.js" type="text/javascript" charset="utf-8"></script>
  <script src="scripts/xbmc.controller.js" type="text/javascript" charset="utf-8"></script>
  
  <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
  <title>XBMC Web Popup</title>
</head>
<body id="popup">
  <noscript>Javascript is not running for some insane reason. It should be.</noscript>
  <script type="text/template" id="controls-template">
      <a id="prev" href="#">Back</a>
      <a id="stop" href="#">Stop</a>
      <a id="play-pause" href="#"><%= playPauseLabel %></a>
      <a id="next" href="#">Next</a>
  </script>
  <script type="text/template" id="undefined-template">
    <div id="info-panel">
      <div id="now-playing-text">
        <h1><span><%= label %></span></h1>
      </div>
    </div>
  </script>
  <script type="text/template" id="music-template">
    <div id="info-panel">
      <div id="thumb"><img src="<%= thumbnail %>" /></div>
      <div id="now-playing-text">
        <h1><span><%= title %></span></h1>
        <h2><span><%= artist %></span></h2>
        <h3><span><%= album %></span></h3>
        <h4><span><%= durationMinutes %></span></h4>
      </div>
    </div>
  </script>
  <script type="text/template" id="tv-template">
    <div id="info-panel">
      <div id="thumb"><img src="<%= thumbnail %>" /></div>
      <div id="now-playing-text">
        <h1><span><%= title %></span></h1>
        <h2><span><%= showtitle %></span></h2>
        <h3><span>S<%= season %>E<%= episode %>, <%= durationMinutes %></span></h3>
      </div>
    </div>
  </script>
  <script type="text/template" id="film-template">
    <div id="info-panel">
      <div id="thumb"><img src="<%= thumbnail %>" /></div>
      <div id="now-playing-text">
        <h1><span><%= title %></span></h1>
        <h2><span>Dir. <%= director %></span></h2>
        <h3><span><%= year %>, <%= durationMinutes %></span></h3>
      </div>
    </div>
  </script>
</body>
</html>