@import url("normalize.css");

body { 
    overflow: hidden;
    margin: 0;
    padding: 4px;
    font-family: tahoma, sans-serif;
		font-size: 12px;
}

body#popup {
  width: 230px;  
}

body#index, body#options {
  width:700px;
  background:grey;
}

input, label {
  width: 200px;
  display: block;
}