body { 
  overflow: hidden;
  margin: 0;
  padding: 4px;
  font-family: tahoma, sans-serif;
  font-size: 12px;
}

body#popup {
  width: 230px;  
}

body#index, body#options {
  width:700px;
  background:gray;
}

input, label {
  width: 200px;
  display: block;
}

#now-playing {
  margin: auto;
}

#now-playing #now-playing-text {
  float: left;
  width: 50%;
}

#now-playing img {
  float: left;
  display: block;
  width: 40%;
  border: 1px solid black;
}

#now-playing h1 {
  padding: 0;
  margin: 0 0 0 5px;
  font-size: 100%;
  font-weight: bold;
}

#now-playing h2 {
  margin: 5px 0 0 5px;
  font-size: 100%;
  font-weight: normal;
  font-style: italic;
}

#now-playing h3 {
  margin: 5px 0 0 5px;
  font-size: 100%;
  font-weight: normal;
}


#controls {
  clear: both;
  left: 50px;
  text-align: center;
}

#controls a {
  position: relative;
  margin-right: 10px;
}