body { 
    overflow: hidden;
    margin: 0;
    padding: 4px;
    font-family: tahoma, sans-serif;
		font-size: 12px;
}

body#popup {
  width: 230px;  
}

body#index, body#options {
  width:700px;
  background:gray;
}

input, label {
  width: 200px;
  display: block;
}

#now-playing {
	text-align: center;
}

#now-playing img {
	float: left;
	display: block;
	width: 50px;
}

#controls {
	left: 50px;
	text-align: center;
}

#controls a {
	position: relative;
	margin-right: 10px;
}

h3 {
	margin-top: 0;
}